<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<div class="container">
    <div class="row">
        <div class="col-12"></div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1>Add A Product</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">

<form method="post" th:object="${product}">
    <div class="form-group">
        <label for="name">Name</label>
        <input th:field="*{name}" id="name" class="form-control"/>
        <span th:errors="*{name}"></span>
</div>
    <label>Start Date</label>

    <div class="form-group row">

        <div class="col-12">

    <div class="col-xs-2">
    <input th:field="*{month}" class="form-control" placeholder="MM" maxlength="2"/>
    </div>
    <div class="col-xs-2">
        <input th:field="*{day}" class="form-control" placeholder="DD" maxlength="2"/>
    </div>
    <div class="col-xs-2">
        <input th:field="*{year}" class="form-control" style="" placeholder="YYYY" maxlength="4"/>
    </div>
    </div>
            <span th:errors="*{month}"></span>
        <span th:errors="*{day}"></span>
        <span th:errors="*{year}"></span>
    </div>
        <label th:for="expirationTime">Expiration Frame</label>

    <input th:field="*{expirationTime}" style="width: 100px;" class="form-control" />

        <span th:errors="*{expirationTime}"></span>
        <select name="expirationFrame" style="width:100px;" class="form-control">
            <option th:value="days" th:text="days"></option>
            <option th:value="weeks" th:text="weeks"></option>
            <option th:value="months" th:text="months"></option>
        </select>


    <label th:for="categories" th:if="${not #lists.isEmpty(categories)}">Category</label>

    <div class="form-group">
        <select name="categoryId" th:if="${not #lists.isEmpty(categories)}" style="width: 300px;" class="form-control">
            <option
                    th:each="category : ${categories}"
                    th:text="${category.name}"
                    th:value="${category.id}"
            ></option>
        </select>
    </div>
    <input type="submit" value="Add Product" />


</form>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h3>Quick Links</h3>
            <div class="list-group" style="border-color: #472627;">
                <div class="list-group-item list-group-item-action active" style="background-color:#472627; border-color:#472627;"><a th:href="@{/home}">Home</a></div>
                <div class="list-group-item list-group-item-action"><a th:href="@{/category}">Categories</a></div>
                <div class="list-group-item list-group-item-action"><a th:href="@{/category/new/}">Add a Category</a></div>
                <div class="list-group-item list-group-item-action"><a th:href="@{/product}">All Products</a></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>