<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>


<body>
<div class="container">
    <h1 th:text="${title}">Default Title</h1>

<a th:href="@{/product/add/}">New Product</a> | <a th:href="@{/category}">Categories</a> | <a th:href="@{/home}">Home</a>
<table class="table">
    <thead class="thead-light">
    <tr>
        <th class="h4">Name</th>
        <th class="h4">Entry Date</th>
        <th class="h4">Expiration Date</th>
        <th class="h4">Actions</th>
        <th class="h4">Category</th>

    </tr>
    </thead>
    <tbody>

    <tr th:each="product : ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${#temporals.format(product.entryDate, 'MM-dd-yyyy')}"></td>
        <td th:text="${#temporals.format(product.expirationDate, 'MM-dd-yyyy')}"></td>
        <td><a th:href="@{'/product/edit/' + ${product.id}}">Edit</a> | <a th:href="@{'/product/delete/' + ${product.id}}">Delete</a></td>
        <td th:if="${not #lists.isEmpty(product.category)}">
            <a th:href="@{'/category/' + ${product.category.id}}" th:text="${product.category.name}"></a></td>
    </tr>
    </tbody>

</table>


</div>

<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</body>
</html>