<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<h1>Login</h1>
<form th:action="@{/login}" action="#" method="POST" class="form-group">
    <div th:if="${param.error}">Email or password incorrect</div>

    <input type="text" id="email" name="email" th:placeholder="Email" class="form-control" />
    <br/>
    <input type="password" id="password" name="password" th:placeholder="Password" class="form-control"/>
    <br/>
    <input type="submit" value="Login"/>
</form>

<p class="h4">Don't have an account? <a th:href="@{/register}">Register</a></p>
</body>
</html>