<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<h1 th:text="${title}"></h1>
<form th:action="@{/register}" action="#" th:object="${user}" method="post" class="form-group">
    <input type="text" th:field="*{email}" th:placeholder="Email" class="form-control" />
    <br/>
    <input type="password" th:field="*{password}" th:placeholder="Password" class="form-control"/>
    <br/>
    <input type="text" th:field="*{name}" th:placeholder="Name" class="form-control"/>
    <br/>
    <input type="submit" value="Register"/>
</form>

<span th:utext="${successMessage}"><br/><a th:href="@{/logout}">Logout</a></span>


</body>
</html>